{% extends 'shared/base.html' %}
{% load static %}
{% block content %}


        <div class="centro_padrao">
            <h1 class="titulo_padrao">Confirmar Exclusão do Envolvido</h1>
            <h3 class="subtitulo_padrao">Tem certeza de que deseja excluir este envolvido?</h3>
            <h3 class="subtitulo_padrao"> {{ envolvido.envolvido.get_full_name }}</h3>
            <form action="{% url 'excluir_envolvido' envolvido.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Confirmar Exclusão" class="btn_padrao" />
            </form>
        </div>
    </div>
</div>

{% endblock %}