{% load static %}

<div class="menu_lateral">
  <div class="menu_lateral_item">
      <a href="{% url 'index' %}"><img class="table_icone" src="{% static '/assets/ícones/home.png' %}" title="Home"/></a>
  </div>
  
  <div class="menu_lateral_item">
      <a href="{% url 'lista_carrinho' %}"><img class="table_icone" src="{% static '/assets/ícones/carrinho2.png' %}" title="Ver Carrinho"/></a>
  </div>
  <div class="menu_lateral_item">
      <a href="{% url 'logout'%}"><img class="table_icone" src="{% static '/assets/ícones/logar.png' %}" title="Logout"/></a>
  </div>
</div>