{% extends 'shared/base.html' %}
{% load static %}
{% block content %}


    <div class="centro">
        <h1 class="titulo_padrao">Busca de Produtos</h1>
        <div>
    <table class="table">
        <thead class="tabela_padrao">
            <tr class="table_cabecalho">
                <th >Código</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th colspan="3"></th>

            </tr>
        </thead>
        <tbody>
            {% if produtos %}
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.codigo }}</td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.categoria }}</td>
                <td><a href="{% url 'detalhes_produto' produto.id %}"><img class="table_icone" src="{% static '/assets/ícones/detalhes.png' %}" title="Mais detalhes"/></a></td>
                <td><a href="{% url 'editar_produto' produto.id %}"><img class="table_icone" src="{% static '/assets/ícones/editar.png' %}" title="Editar"/></a></td>
                <td><form action="{% url 'adicionar_carrinho' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="produto_id" value="{{ produto.id }}">
                        <button class="btn_padrao2" type="submit"><img class="table_icone" src="{% static '/assets/ícones/carrinho.png' %}" alt="Importar Produtos" /></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">Produtos não encontrados</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
        </div>

    </div>
 </div>

       

{% endblock %}