{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<h1 class="titulo-page">Busca de Produtos</h1>
<div class="table-responsive">
    <table class="tabela">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if produtos %}
            {% for produto in produtos %}
            <tr class="tabela-item">
                <td>{{ produto.codigo }}</td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.categoria }}</td>
                <td><a href="{% url 'detalhes_produto' produto.id %}">
                        <img class="tabela-icone" src="{% static '/assets/ícones/detalhes.png' %}" title="Mais detalhes"/>
                    </a>
                </td>
                <td>
                    <a href="{% url 'detalhes_produto' produto.id %}">
                        <img class="tabela-icone" src="{% static '/assets/ícones/editar.png' %}" title="Editar"/>
                    </a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">Produtos não encontrados</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>


    </main>
        

{% endblock %}