{% extends 'shared/base.html' %}
{% load static %}
{% block content %}


            <div class="centro">
                
                <h1 class="titulo_padrao">{{ produto.nome }}</h1>
                <div class="submenu">
                    <div class="submenu_item">
                    <a href="{% url 'editar_produto' produto.id %}"><img class="table_icone" src="{% static '/assets/ícones/editar.png' %}" title="Editar"/></a>
                    </div>
                    <div class="submenu_item">
                    <a href="{% url 'cadastro_produto' %}"><img class="table_icone" src="{% static '/assets/ícones/inserir.png' %}" title="Cadastrar Produto"/></a>
                    </div>
                </div>
                <table class="table">
                <tr class="table_cabecalho">
                    <th>Código</th>
                    <th>Descrição</th>
                </tr>
                <tr>
                    <td>{{ produto.codigo }}</td>
                    <td>{{ produto.descricao }}</td>
                </tr>
                </table>
                <h2 class="titulo_padrao">Especificações Técnicas</h2>
                <table class="table">
                <tr class="table_cabecalho">
                    <th>Unidade</th>
                    <th>Peso</th>
                    <th>Dimensões</th>
                    <th>Categoria</th>
                </tr>
                <tr>
                    <td>{{ produto.unidade }}</td>
                    <td>{{ produto.peso }}</td>
                    <td>{{ produto.dimensoes }}</td>
                    <td>{{ produto.categoria }}</td>
                </tr>
                </table>
                <h2 class="titulo_padrao">Fotografias do Produto</h2>
                        <div class="container-foto">
                            <div class="quadro">
                                {% for foto in produto.fotografias.all %}
                                <div class="quadro-foto">
                                    <img class="foto-imagem" src="{{ foto.foto.url }}" alt="{{ foto.nome }}"> 
                                        <div class="texto-foto">
                                            <p>{{ foto.legenda }}</p>
                                            <p>{{ foto.descricao }}</p>
                                        </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

            </div>
    </div>
       
</div>
   
 {% endblock %}