{% extends 'shared/base.html' %}
{% load static %}
{% block content %}


        <div class="centro">
            <h1 class="titulo_padrao">Lista de Preços</h1>
            <div class="submenu">
                <div class="submenu_item">
                <form method="GET">
                <label for="categoria" class="label-lista"><strong></strong></label>
                <select name="categoria" id="categoria" class="label-lista">
                        <option value="">Todas</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}" {% if categoria.id == categoria_selecionada %}selected{% endif %}>{{ categoria.nome }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn_padrao2"><img class="table_icone" src="{% static 'Assets/icones/filtro.png' %}" title="Cadastrar"/></button>
                </form>
                </div>
                <div class="submenu_item">
                    <form action="{% url 'buscar_lista_precos'%}">
                      <input type="text" name="buscar" placeholder="Digite o nome do produto">
                      <button class="btn_padrao2" type="submit">
                        <img class="table_icone" src="{% static 'Assets/icones/lupa1.png' %}" alt="ícone de search">
                      </button>
                    </form>
                  </div>
            </div>
            
            
            {% if categoria_selecionada %}
            <h2 class="titulo_padrao">{{ categoria_selecionada.nome }}</h2>
                {% endif %}
                <table class="table">
                    <tr class="table_cabecalho">
                        <th>Código</th>
                        <th>Produto</th>
                        <th>Unidade</th>
                        <th>Preço</th>
                        <th>Preço com IPI</th>
                        <th></th>
                    </tr>
                {% for subcategoria, produtos in produtos_agrupados.items %}
                    <tr>
                        <td colspan="6" class="table_subcategoria"><p>{{ subcategoria.nome }}</p></td>
                    </tr>
                {% for produto in produtos %}
                    <tr class="table_item">
                        <td>{{ produto.codigo }}</td>
                        <td>{{ produto.nome }}</td>
                        <td>{{ produto.unidade }}</td>
                        <td>{{ produto.preco|floatformat:2 }}</td>
                        <td>{{ produto.preco_com_ipi|floatformat:2 }}</td>
                        <td>
                            <form action="{% url 'adicionar_carrinho' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="produto_id" value="{{ produto.id }}">
                            <button class="btn_padrao2" type="submit"><img class="table_icone" src="{% static 'Assets/icones/carrinho.png' %}" alt="Importar Produtos" /></button>
                        </form>
                    </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
                </table>
        </div>
    </div>
</div>


{% endblock %}
