{% extends 'shared/base.html' %}
{% load static %}
{% block content %}


        <section>
            <div>
                <h2>Produtos</h2>

                
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Codigo</th>
                            <th>Unidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>OXI CLEAN 50L</td>
                            <td>612</td>
                            <td>UN</td>
                        </tr>
                        <tr>
                            <td>CANZIL P/ ALIMENTACAO P/ BEZERROS TUBO 42,4MM</td>
                            <td>17474</td>
                            <td>UN</td>
                        </tr>

                    </tbody>
                </table> 

            </div>
        </section>

    </main>
        

{% endblock %}