{% extends 'shared/base.html' %}
{% load static %}
{% block content %}


        <div class="centro">
            <h1 class="titulo_padrao">Adicionar Extrator</h1>
            <h2 class="titulo_padrao">Cliente: {{ configurador.nome_cliente }}</h2>
            
            <div class="dados_orcamento"> 
                                
                <div class="dados_orcamento_grupo">
                    <p class="dados_orcamento_legenda">Energia:</p><p class="dados_orcamento_input">{{ configurador.tensao_energia }}</p>
                    <p class="dados_orcamento_legenda">Sala:</p><p class="dados_orcamento_input">{{ configurador.modelo_sala }}</p>
                    <p class="dados_orcamento_legenda">Modelo:</p><p class="dados_orcamento_input">{{ configurador.modelo_equipamento }}</p>
                    <p class="dados_orcamento_legenda">Linha:</p><p class="dados_orcamento_input">{{ configurador.tipo_linha }}</p>
                    <p class="dados_orcamento_legenda">Contenção:</p><p class="dados_orcamento_input">{{ configurador.tipo_contencao }}</p>
                </div> 
                
                <div class="dados_orcamento_grupo">
                    <div>
                        <p class="dados_orcamento_legenda">Selecione o Extrator:</p>
                        <table class="table">
                            <thead>
                                <tr class="table_cabecalho">
                                    <th>Produto</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>    
                            <tbody>
                                {% for produto in produtos_extrator %}
                                    <tr>
                                        <td class="table_item">{{ produto.nome }}</td> 
                                        <td class="table_item">
                                            <form action="{% url 'adicionar_extrator' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="configurador_id" value="{{ configurador.id }}">
                                                <input type="hidden" name="produto_id" value="{{ produto.id }}">
                                                <button class="btn_padrao2" type="submit"><img class="table_icone" src="{% static 'Assets/icones/inserir.png' %}" title="Adicionar"/></button>
                                            </form>
                                        </td> 
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="2">Nenhum produto relacionado à extrator encontrado.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>     
                        </table> 
                    </div>
                </div>
                <div class="dados_orcamento_grupo">
                                            
                    <div class="submenu">
                        <div class="submenu_item">
                           <a href="{% url 'configurador_conj_ordenha' configurador_id=configurador.id %}"><button class="btn_padrao">Prosseguir sem incluir item</button></a> 
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
