{% extends 'shared/base.html' %}
{% load static %}
{% block content %}


        <div class="centro">
            <h1 class="titulo_padrao">Tipo de gerenciamento</h1>
            <div class="submenu_item">
                <a href="{% url 'cadastro_gerenciamento' %}"><img class="table_icone" src="{% static 'Assets/icones/inserir.png' %}" title="Cadastrar Gerenciamento"/></a>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr class="table_cabecalho">
                            <th>Gerenciamento</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tipo_gerenciamento in tipo_gerenciamentos %}
                        <tr class="table_item">
                            <td>{{ tipo_gerenciamento.tipo_gerenciamento_nome }}</td>
                            <td><a href="{% url 'editar_gerenciamento' tipo_gerenciamento.id %}"><img class="table_icone" src="{% static 'Assets/icones/editar.png' %}" title="Editar"/></a>
                                <a href="{% url 'excluir_gerenciamento' tipo_gerenciamento.id %}"><img class="table_icone" src="{% static 'Assets/icones/excluir.png' %}" title="Excluir"/></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
