{% extends 'shared/base.html' %}
{% load static %}
{% block content %}


        <div class="centro">
            <h1 class="titulo_padrao">Tipo de contenção</h1>
            <div class="submenu_item">
                <a href="{% url 'cadastro_contencao' %}"><img class="table_icone" src="{% static '/assets/ícones/inserir.png' %}" title="Cadastrar Contenção"/></a>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr class="table_cabecalho">
                            <th>Linha</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tipo_contencao in tipo_contencaos %}
                        <tr>
                            <td>{{ tipo_contencao.tipo_contencao_nome }}</td>
                            <td><a href="{% url 'editar_contencao' tipo_contencao.id %}"><img class="table_icone" src="{% static '/assets/ícones/editar.png' %}" title="Editar"/></a>
                                <a href="{% url 'excluir_contencao' tipo_contencao.id %}"><img class="table_icone" src="{% static '/assets/ícones/excluir.png' %}" title="Excluir"/></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
