{% extends 'shared/base.html' %}
{% load static %}
{% block content %}


            <div class="centro">
                <h1 class="titulo_padrao">Modelo de equipamento</h1>
                <div class="submenu_item">
                    <a href="{% url 'cadastro_equipamento' %}"><img class="table_icone" src="{% static 'Assets/icones/inserir.png' %}" title="Cadastrar Modelo de Equipamento"/></a>
                </div>
                <div>
                    <table class="table">
                        <thead>
                            <tr class="table_cabecalho">
                                <th>Modelo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for modelo_equipamento in modelo_equipamentos %}
                            <tr class="table_item">
                                <td>{{ modelo_equipamento.modelo_equipamento_nome }}</td>
                                <td><a href="{% url 'editar_equipamento' modelo_equipamento.id %}"><img class="table_icone" src="{% static 'Assets/icones/editar.png' %}" title="Editar"/></a>
                                    <a href="{% url 'excluir_equipamento' modelo_equipamento.id %}"><img class="table_icone" src="{% static 'Assets/icones/excluir.png' %}" title="Excluir"/></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>

{% endblock %}
