{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
        <div class="centro">
            <section>
                        <div class=" container-foto">
                            <div class="quadro">
                                {% if fotografia.foto == "" or fotografia.foto == null %}
                                <img class="foto-imagem" src="{% static 'Assets/imagens/not-found.png'%}">
                                {% else %}
                                <img class="foto-imagem" src="{{fotografia.foto.url}}">
                                {% endif %}
                            </div>
                                <div>
                                    <div class="texto-foto">
                                        <p>{{fotografia.nome}}</p>
                                        <p>{{fotografia.legenda}}</p>
                                        <p>{{fotografia.descricao}}</p>
                                        <div>
                                            <a href="{% url 'editar_imagem' fotografia.id%}"><img class="table_icone" src="{% static 'Assets/icones/editar.png' %}" title="Editar"/></a>
                                        </div>
                                        <div>
                                            <a href="{% url 'excluir_imagem' fotografia.id%}"><img class="table_icone" src="{% static 'Assets/icones/excluir.png' %}" title="Excluir"/></a>
                                        </div>
                                    </div>
                                    
                                </div>
                        </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}