{% extends 'shared/base.html' %}
{% load static %}
{% block content %}


        <div class="centro">
                <h1 class="titulo_padrao">Confirmação de Exclusão</h1>
            <h3 class="subtitulo_padrao">Tem certeza que deseja excluir o item "{{ item.produto.nome }}" do pedido?</h3>
            <div class="submenu">
                <div class="submenu_item">
                    <form method="POST">
                        {% csrf_token %}
                        <button class="btn_padrao" type="submit">Excluir</button>
                    </form>

                </div>
                <div class="submenu_item">
                    <a href="#" onClick="history.go(-1)"><button class="btn_padrao">Cancelar</button></a>
                </div>
            </div>
            

        </div>
    </div>   
</div>
  
{% endblock %}
