{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

        <div class="centro">
            <section>
                    <div class="father white">
                        <div class="card blue">
                            <a href="{% url 'produto'%}">
                            <img class="card img" src="{% static 'Assets/icones/produtos.png' %}"/>
                            </a>
                            <p class="conteudo">Produtos</p>
                        </div>
                        <div class="card blue">
                            <a href="{% url 'lista_preco'%}">
                            <img class="card img" src="{% static 'Assets/icones/lista-de-precos.png' %}"/>
                            </a>
                            <p class="conteudo">Lista de preços</p>
                        </div>
                        <div class="card blue">
                            <a href="{% url 'index_orcamento'%}">
                            <img class="card img" src="{% static 'Assets/icones/orcamento2.png' %}"/>
                            </a>
                            <p class="conteudo">Orçamentos</p>
                        </div>
                        <div class="card blue">
                            <a href="{% url 'index_pedido'%}">
                            <img class="card img" src="{% static 'Assets/icones/pedido.png' %}"/>
                            </a>
                            <p class="conteudo">Pedidos</p>
                        </div>
                        <div class="card blue">
                            <img class="card img" src="{% static 'Assets/icones/pos-vendas.png' %}"/>
                            <p class="conteudo">Pós-vendas</p>
                        </div>
                        <div class="card blue">
                            <a href="{% url 'index_configurador'%}">
                            <img class="card img" src="{% static 'Assets/icones/configurador.png' %}"/>
                            </a>
                            <p class="conteudo">Configurador</p>
                        </div>
                        <div class="card blue">
                            <img class="card img" src="{% static 'Assets/icones/dashboard.png' %}"/>
                            <p class="conteudo">Dashboard</p>
                        </div>
                        <div class="card blue">
                            <img class="card img" src="{% static 'Assets/icones/relatorio.png' %}"/>
                            <p class="conteudo">Relatórios</p>
                        </div>
                        <div class="card blue">
                            <a href="{% url 'index_ferramentas'%}">
                            <img class="card img" src="{% static 'Assets/icones/ferramentas.png' %}"/>
                            </a>
                            <p class="conteudo">Ferramentas</p>
                        </div>
                        <div class="card blue">
                            <a href="{% url 'lista_carrinho'%}">
                            <img class="card img" src="{% static 'Assets/icones/carrinho2.png' %}"/>
                            </a>
                            <p class="conteudo">Carrinho</p>
                        </div>
                        
                    </div>
                </section>
        </div>
    </div>
</div>
        

{% endblock %}