{% extends 'shared/base.html' %}
{% load static %}
{% block content %}


        <section>
            <div class="father white">
                <div class="card">
                    <a href="{% url 'produto'%}">
                    <img class="card img" src="{% static '/assets/ícones/produtos.png' %}"/>
                    </a>
                    <p class="conteudo">Produtos</p>
                </div>
                <div class="card blue">
                    <img class="card img" src="{% static '/assets/ícones/lista-de-precos.png' %}"/>
                    <p class="conteudo">Lista de preços</p>
                </div>
                <div class="card blue">
                    <img class="card img" src="{% static '/assets/ícones/orcamento2.png' %}"/>
                    <p class="conteudo">Orçamentos</p>
                </div>
                <div class="card blue">
                    <img class="card img" src="{% static '/assets/ícones/pedido.png' %}"/>
                    <p class="conteudo">Pedidos</p>
                </div>
                <div class="card blue">
                    <img class="card img" src="{% static '/assets/ícones/pos-vendas.png' %}"/>
                    <p class="conteudo">Pós-vendas</p>
                </div>
                <div class="card blue">
                    <img class="card img" src="{% static '/assets/ícones/configurador.png' %}"/>
                    <p class="conteudo">Configurador</p>
                </div>
                <div class="card blue">
                    <img class="card img" src="{% static '/assets/ícones/dashboard.png' %}"/>
                    <p class="conteudo">Dashboard</p>
                </div>
                <div class="card blue">
                    <img class="card img" src="{% static '/assets/ícones/relatorio.png' %}"/>
                    <p class="conteudo">Relatórios</p>
                </div>
                <div class="card blue">
                    <img class="card img" src="{% static '/assets/ícones/ferramentas.png' %}"/>
                    <p class="conteudo">Ferramentas</p>
                </div>
                <div class="card blue">
                    <a href="{% url 'index_usuario'%}">
                    <img class="card img" src="{% static '/assets/ícones/ferramentas.png' %}"/>
                    </a>
                    <p class="conteudo">Usuario</p>
                </div>
              </div>
        </section>

    </main>
        

{% endblock %}