{% extends 'shared/base.html' %}
{% load static %}

{% block content %}

    <div class="centro">
    <h1 class="titulo_padrao">Dashboard</h1>
    <section>
        <div class="father white">
            <div class="card blue">
                <a href="{% url 'dashboard_geral'%}">
                <img class="card img" src="{% static 'Assets/icones/dashboard.png' %}"/>
                </a>
                <p class="conteudo">Ordemilk</p>
            </div>
            <div class="card blue">
                <a href="{% url 'dashboard_vendedor'%}">
                <img class="card img" src="{% static 'Assets/icones/dashboard.png' %}"/>
                </a>
                <p class="conteudo">Vendedor</p>
            </div>
            <div class="card blue">
                <a href="{% url 'dashboard_gerente'%}">
                <img class="card img" src="{% static 'Assets/icones/dashboard.png' %}"/>
                </a>
                <p class="conteudo">Gerente</p>
            </div>
            <div class="card blue">
                <a href="{% url 'dashboard_todos_usuarios'%}">
                <img class="card img" src="{% static 'Assets/icones/dashboard.png' %}"/>
                </a>
                <p class="conteudo">Todos Usuários</p>
            </div>                
             
        </div>
    </section>





</div>
{% endblock %}